@charset "UTF-8";
/* CSS Document */

body {
	position: absolute;
	left: 0px;
	background: #CC0000;
	color : red;
	font-size : 20px;	
	text-align: left;
	font-family: 'Times New Roman', "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	/*font-family: 'Times New Roman', Times, 'serif''Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'}*/
}

.test{
	position: absolute;
	top: 20px;
  	left: 25px;
	font-size : 40px;
	line-height: 1;
	font-weight: bold;
}

#newspaper {
	display : block;
	position: absolute;
	width:380px;
	height:527px;
}

.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}
