@charset "UTF-8";
/* CSS Document */

body {
	position: relative;
	left: -8px;
	background: white;
	color : black;
	font-size : 20px;	
	text-align: left;
	width: 400px;
	font-family: 'Times New Roman', "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	/*font-family: 'Times New Roman', Times, 'serif''Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'}*/
}

.songtitle{
	position: absolute;
	top: 20px;
  	left: 25px;
	font-size : 40px;
	line-height: 1;
	font-weight: bold;
}

.songdata{
	position: absolute;
	top: 50px;
  	left: 30px;
	font-size : 3px;
	line-height: 1;
	text-align: left;
	white-space:pre-wrap;
	font-weight: bold;
}

.lyrics{
	position: absolute;
	white-space: pre-wrap;
	top: 95px;
    left: 35px;
    font-size : 10px;
    line-height: 1;
}

.lyrics2{
	position: absolute;
    top: 365px;
    left: 235px;
	font-size : 10px;
	width: 350px;
    line-height: 1;
    white-space: pre-wrap;
}

#jacket {
	display : block;
	position: absolute;
	width:400px;
	height:400px;
}
/*--------------------------------------------------------------*/
#ybj{
	display : block;
	position: relative;
	top: 400px;
  	left: 0px;
}

#ybj .songtitle{
	color : white;
	position: absolute;
	top: 20px;
  	left: 25px;
	font-size : 40px;
	white-space:pre-wrap;
}

#ybj .songdata{
	color : white;
	top: 50px;
  	left: 30px;
	position: absolute;
	font-size : 3px;
	white-space:pre-wrap;
}

#ybj .lyrics {
	font-size : 2px;
	top: 100px;
  	left: 110px;
	color : white;
	position: absolute;
    transform: rotate( -20deg );
}


#grad {
	display : block;
	position: absolute;
	width:400px;
	height:800px;
}

#crane {
	display : block;
	position: absolute;
	top: -100px;
  	left: -160px;
	width:400px;
	height:800px;
}

#moonybj {
	display : block;
	position: absolute;
	top: 0px;
  	left: 300px;
	width: 90px;
	height: 150px;
}

#jack {
	display : block;
	position: absolute;
	top: 200px;
  	left: 100px;
	width: 230px;
	height: 290px;
	float: left;
}
/*--------------------------------------------------------------*/
#age{
	display : block;
	background : white;
	position: relative;
	top: 1110px;
  	left: 0px;
}

#age .songtitle{
	position: absolute;
	top: 20px;
  	left: 25px;
	font-size : 40px;
	white-space:pre-wrap;
}

#age .songdata{
	top: 50px;
  	left: 30px;
	position: absolute;
	font-size : 3px;
	white-space:pre-wrap;
}

#age .lyrics {
	position: absolute;
}

#clock30{
    position: absolute;
    top: 288px;
    left: 264px;
    width: 55px;
    height: 55px;
}

#sofa30 {
	position: absolute;
    top: 388px;
    left: 234px;
    width: 140px;
    height: 90px;
}

#town30 {
    position: absolute;
    top: 488px;
    left: 0px;
    width: 400px;
    height: 170px;
}
/*--------------------------------------------------------------*/
#goap {
	display : block;
	background : black;
	top: 1800px;
  	left: 0px;
	color : white;
	position: relative;
}


#blacky {
	position: absolute;
    top: -45px;
    left: 0px;
	width: 400px;
	height: 750px;
}

#goap .songtitle{
	position: relative;
	top: 20px;
  	left: 30px;
	font-size : 40px;
	width: 350px;
	white-space:pre-wrap;
	text-align: right;
}

#goap .songdata{
	text-align: right;
	top: 50px;
  	left: 30px;
	white-space:pre-wrap;
	font-size : 3px;
	width: 350px
}

#goap .lyrics{
    top: 115px;
    left: 35px;
	font-size : 4px;
	width: 350px;
}

#goap .lyrics2{
}


span{
	font-size: 15px;
}

#winego{
    position: absolute;
    top: 178px;
    left: 184px;
    width: 185px;
    height: 235px;
}

#glassgo {
	position: absolute;
    top: 178px;
    left: 304px;
    width: 80px;
    height: 50px;
}

#half1 {
	position: absolute;
    top: 635px;
    left: 104px;
    width: 95px;
    height: 140px;
}

#half2 {
	position: absolute;
    top: 604px;
    left: 244px;
    width: 120px;
    height: 150px;
}

.treego {
    position: absolute;
    width: 80px;
    height: 100px;
}

#tree1{
    top: 288px;
    left: 350px;
}

#tree2{
    top: 388px;
    left: 150px;
}

#tree3{
    top: 591px;
    left: 175px;
}

#tree4{
    top: 488px;
    left: 370px;
}

#tree5{
    top: 605px;
    left: 339px;
}

#tree6{
    top: 588px;
    left: 280px;
}

#tree7{
    top: 654px;
    left: 130px;
}

#tree8{
    top: 508px;
    left: 160px;
}

#tree9{
    top: 666px;
    left: 80px;
}

#tree10{
    top: 600px;
    left: 0px;
}
/*--------------------------------------------------------------*/
#btof{
	display : block;
	background : white;
	position: relative;
	top: 2500px;
  	left: 0px;
}

#btof .songtitle{
	position: absolute;
	top: 20px;
  	left: 25px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: right;
	width: 320px;
}

#btof .songdata{
	top: 50px;
  	left: 30px;
	position: absolute;
	font-size : 2px;
	white-space:pre-wrap;
	text-align: right;
	width: 350px;
}

#btof .lyrics {
	position: absolute;
	top: 100px;
	font-size : 1px;
	position: absolute;
	width: 320px;
}

#btofr {
	text-align: right;
}

#btofl {
	text-align: left;
}

#birdbt{
    position: absolute;
    top: -10px;
    left: -1px;
    width: 85px;
    height: 135px;
}

#buggbt{
    position: absolute;
    top: 165px;
    left: 264px;
    width: 70px;
    height: 40px;
}

.leafbt{
    position: absolute;
    top: 107px;
    left: 294px;
    width: 40px;
    height: 40px;
}

#leaf1{
}

#leaf2{
    position: absolute;
    top: 148px;
    left: 325px;
    transform: rotate( -20deg );
}

#leaf3{
    position: absolute;
    top: 191px;
    left: 356px;
    transform: rotate( -40deg );
}

#carbt{
    position: absolute;
    top: 220px;
    left: 0px;
    width: 85px;
    height: 70px;
}

#flowerbt{
    position: absolute;
    top: 318px;
    left: 10px;
    width: 60px;
    height: 90px;
}

.btreebt {
    position: absolute;
    width: 80px;
    height: 100px;
}

#btreebt1{
    top: 288px;
    left: 350px;
	filter: drop-shadow(-40px 10px 0.1px rgba(0,0,0,0.3));
}

#btreebt2{
    top: 466px;
    left: -60px;
}

#btreebt3{
    top: 530px;
    left: 285px;
}

#btreebt4{
    top: 488px;
    left: 0px;
}

#btreebt5{
    top: 434px;
    left: 361px;
}

#btreebt6{
    top: 514px;
    left: 327px;
}

#btreebt7{
    top: 505px;
    left: 67px;
}

#btreebt8{
    top: 515px;
    left: 10px;
}

#btreebt9{
    top: 527px;
    left: 136px;
}

#btreebt10{
    top: 400px;
    left: -50px;
}

/*--------------------------------------------------------------*/
#sex{
	display : block;
	background : black;
	position: relative;
	top: 3200px;
  	left: 0px;
}

#sex .songtitle{
	color: white;
	position: absolute;
	top: 245px;
  	left: 35px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: right;
	width: 320px;
}

#sex .songdata{
	color: white;
	top: 270px;
  	left: 30px;
	position: absolute;
	font-size : 1px;
	white-space:pre-wrap;
	text-align: right;
	width: 350px;
}

#sex .lyrics {
	color: white;
	position: absolute;
	top: 80px;
	font-size : 1px;
	position: absolute;
	width: 320px;
}

#mansex{
    position: absolute;
    top: -45px;
    left: 0px;
	height:320px;
	width:400px;
}

#womansex{
    position: absolute;
    top: 450px;
    left: 0px;
	height:120px;
	width:400px;
}

#dropsex{
    position: absolute;
    top: 350px;
    left:259px;
	height:23px;
	width:23px;
}

#sex #blacky {
	position: absolute;
    top: -45px;
    left: 0px;
	width: 400px;
	height: 600px;
}

/*--------------------------------------------------------------*/
#mij{
	display : block;
	background : black;
	position: relative;
	top: 3900px;
  	left: 0px;
}

#mij .songtitle{
	color: black;
	position: absolute;
	top: 745px;
  	left: 205px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: left;
	width: 320px;
	transform: rotate( 90deg );
}

#mij .songdata{
	color: black;
	top: 750px;
  	left: 150px;
	position: absolute;
	font-size : 1px;
	white-space:pre-wrap;
	text-align: left;
	width: 350px;
	transform: rotate( 90deg );
}

#mij .lyrics {
	display : block;
	color: black;
	position: absolute;
	top: 680px;
	font-size : 1px;
	width: 320px;
}

#tvmij{
	display : block;
    position: absolute;
    top: -100px;
    left: 0px;
	height:350px;
	width:400px;
}

#tvmij2{
	display : block;
    position: absolute;
    top: 250px;
    left: 0px;
	height:350px;
	width:400px;
}

#goran {
	color: black;
	position: absolute;
	top: -50px;
	font-size : 7px;
	width: 320px;
}

#eyemij{
	position: absolute;
    top: 590px;
    left: 170px;
	height:120px;
	width:120px;
	transform: rotate( -90deg );
}

#saa {
	color: black;
	position: absolute;
	top: 10px;
	font-size : 15px;
	width: 320px;
}

#channelmij{
    position: absolute;
    top: 700px;
    left: 100px;
	height:120px;
	width:200px;
}

#channelmij2{
    position: absolute;
    top: 1270px;
    left: 0px;
	height:120px;
	width:200px;
	transform: scale(-1, 1);
}

#bagmij{
    position: absolute;
    top: 800px;
    left: 200px;
	height:60px;
	width: 80px;
}

#tvkara {
	color: black;
	position: absolute;
	top: 170px;
	font-size : 1px;
	width: 320px;
	transform: rotate( 20deg );
}

#honto {
	color: black;
	position: absolute;
	top: 180px;
	left: 100px;
	font-size : 1px;
	width: 320px;
}

#coffeemij{
    position: absolute;
    top: 900px;
    left: 0px;
	height:100px;
	width:120px;
}

#spoonmij{
    position: absolute;
    top: 830px;
    left: 35px;
	height:180px;
	width:180px;
}

#corn {
	color: black;
	position: absolute;
	top: 230px;
	left: 0px;
	font-size : 1px;
	width: 320px;
	text-align: right;
}

#popartsmij{
    position: absolute;
    top: 990px;
    left: 250px;
	height:120px;
	width:100px;
}

#goran2 {
	color: black;
	text-align: right;
	position: absolute;
	top: 330px;
	font-size : 15px;
	width: 220px;
}

#kanashimi {
	color: black;
	position: absolute;
	text-align: right;
	top: 420px;
	font-size : 1px;
	width: 220px;
}

#shoemij{
    position: absolute;
    top: 1089px;
    left: 60px;
	height:50px;
	width:100px;
}

#goran3 {
	color: black;
	position: absolute;
	top: 480px;
	font-size : 1px;
	width: 320px;
}


#ge {
	color: black;
	position: absolute;
	top: 530px;
	left: 60px;
	font-size : 1px;
	width: 320px;
}

#madeinjapan {
	color: black;
	position: absolute;
	top: 10px;
	font-size : 1px;
	width: 320px;
}

#mij span{
	color: #B90101;
	font-size : 60px;
}


#chairmij{
    position: absolute;
    top: 1164px;
    left: 260px;
	height:120px;
	width:100px;
}

#dashi {
	color: black;
	position: absolute;
	top: 630px;
	left: 0px;
	font-size : 1px;
	width: 320px;
	text-align: right;
}

#tanktopmij{
    position: absolute;
    top: 1360px;
    left: 290px;
	height:120px;
	width:70px;
}

#goran4 {
	color: black;
	position: absolute;
	top: 680px;
	font-size : 1px;
	width: 320px;
}

#refrigemij{
    position: absolute;
    top: 1360px;
    left: 200px;
	height:120px;
	width:70px;
}

/*--------------------------------------------------------------*/
#nooh{
	display : block;
	position: relative;
	top: 4990px;
  	left: 0px;
}

#gray{
    position: absolute;
    top: 674px;
    left: 0px;
	height:820px;
	width:400px;
}

#nooh .songtitle{
	color: white;
	position: absolute;
	top: 690px;
  	left: 40px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: center;
	width: 320px;
}

#nooh .songdata{
	color: white;
	top: 714px;
  	left: 40px;
	position: absolute;
	font-size : 1px;
	white-space:pre-wrap;
	text-align: center;
	width: 350px;
}

#nooh .lyrics {
	display : block;
	color: white;
	position: absolute;
	font-size : 1px;
	width: 320px;
}

#no{
	text-align: right;
	position: absolute;
	font-size : 1px;
	top: 670px;
	left: -40px;
	width: 200px;
}

#noo{
	font-size : 13px;
}

#nooo{
	font-size : 16px;
}

#noooo{
	font-size : 20px;
}

#oh{
	text-align: left;
	position: absolute;
	font-size : 1px;
	top: 674px;
	left: 170px;
	width: 200px;
}

#ohno{
	top: 1160px;
	position: absolute;
	left: -35px;
	text-align: right;
	font-size :25px;
	width: 200px;
	transform: rotate( 10deg );
}

#helpme{
	text-align: center;
	position: absolute;
	font-size : 1px;
	top: 720px;
	left: -35px;
	width: 400px;
}

#holdme{
	text-align: center;
	position: absolute;
	font-size : 1px;
	top: 910px;
	left: -35px;
	width: 400px;
}

#street1{
    position: absolute;
    top: 464px;
    left: 0px;
	height:210px;
	width:200px;
}

#street2{
    position: absolute;
    top: 464px;
    left: 200px;
	height:210px;
	width:200px;
	transform: scale(-1, 1);
}

#money1{
    position: absolute;
    top: 404px;
    left: 0px;
	height:110px;
	width:100px;
}

#money2{
    position: absolute;
    top: 515px;
    left: 30px;
	height:110px;
	width:100px;
}

#money3{
    position: absolute;
    top: 654px;
    left: 0px;
	height:110px;
	width:100px;
	transform: scale(-1, -1);
}

#money4{
    position: absolute;
    top: 815px;
    left: 30px;
	height:110px;
	width:100px;
	transform: scale(-1, -1);
}

/*--------------------------------------------------------------*/

#dp{
	display : block;
	background : black;
	position: relative;
	top: 6436px;
  	left: 0px;
}

#dp .songtitle{
	color: black;
	position: absolute;
	top: 255px;
  	left: 35px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: right;
	width: 320px;
}

#dp .songdata{
	color: black;
	top: 284px;
  	left: 30px;
	position: absolute;
	font-size : 1px;
	white-space:pre-wrap;
	text-align: right;
	width: 350px;
}

#dp .lyrics {
	color: black;
	position: absolute;
	top: 350px;
	left: 190px;
	font-size : 1px;
	width: 320px;
}

#dpdam{
    position: absolute;
    top: 200px;
    left: 0px;
	height:440px;
	width:400px;
}

#dpwatery{
    position: absolute;
    top: 0px
    left: 0px;
	height:200px;
	width:400px;
}

#dpyou{
    position: absolute;
    top: 350px;
    left: -30px;
	height:280px;
	width:160px;
}

#pearl{
    position: absolute;
    top: 120px;
    left: 20px;
	height:55px;
	width:55px;
}

#pearl2{
    position: absolute;
    top: 20px;
    left: 120px;
	height:25px;
	width:25px;
}

#pearl3{
    position: absolute;
    top: 50px;
    left: 320px;
	height:35px;
	width:35px;
}

#dpgrad{
    position: absolute;
    top: 450px;
    left: 0px;
	height:235px;
	width:400px;
}

/*--------------------------------------------------------------*/

#bldg{
	display : block;
	background : black;
	position: relative;
	top: 7000px;
  	left: 0px;
}

#bldg .songtitle{
	color: black;
	position: absolute;
	top: 200px;
  	left: 20px;
	font-size : 30px;
	white-space:pre-wrap;
	text-align: left;
	width: 320px;
}

#bldg .songdata{
	color: black;
	top: 220px;
  	left: 25px;
	position: absolute;
	font-size : 1px;
	white-space:pre-wrap;
	text-align: left;
	width: 350px;
}

#bldg .lyrics {
	color: black;
	position: absolute;
	top: 260px;
	left: 30px;
	font-size : 1px;
	width: 320px;
}

#JackDrawnWithChalkisJustWaitingStaringTheBLDG{
	top: 800px;
	position: absolute;
	left: 10px;
	text-align: left;
	font-size :55px;
	width: 400px;
	font-weight: bold;
	line-height:45px;
	transform: rotate( -10deg );
	font-family: Impact,Charcoal;
	white-space:pre-wrap;
}

#bldgbldg{
    position: absolute;
    top: 200px;
    left: 200px;
	height:200px;
	width:200px;
}

/*--------------------------------------------------------------*/



