/* CSS Document */

iframe[src$=".pdf#toolbar=0&navpanes=0'"]{
    width:90%;
    margin-left: auto;
    margin-right: auto;
	height:90vh;
}

#recordplayer {
  position: fixed;
  cursor: pointer;
  bottom: 40px;
  right: 10px;
  width: 20%;
	
  transition:width 0.25s;
}

#recordplayer:hover {
  width: 25%;
}

#songbar {
  position: fixed;
  cursor: pointer;
  bottom: 10px;
  right: 10px;
  width: 100%;
}